<h1>Convert <%= @original_currency %> to <%= @destination_currency %></h1>

<p>1 <%= @original_currency %> equals <%= @result %> <%= @destination_currency %>.</p>

<p>Go <a href="/<%= @original_currency %>">back</a>.</p>

